@import './vars';

.btn {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: .8;
    font-weight: 600;
    padding: 22px 17px;
    cursor: pointer;
    background-color: #24B200;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: $trs;

    &:hover {
        background-color: #00B288;
    }
}